In [2]:
Name = input('please your name')
Age = input ('please put in your age')
color = input ('please Color')
print(f'my name is {Name}, i am {Age} years old, my fav color is {color}.')

please your name JOE
please put in your age 21
please Color BLUE

my name is JOE, i am 21 years old, my fav color is BLUE.

In [8]:
 duration = float( input ('hours spent'))
 pay_per_hour=float( input ('wage'))

hours spent 50
wage 100

In [9]:
print (f'i worked for {duration} hours and i earn {pay_per_hour} per hour')

i worked for 50.0 hours and i earn 100.0 per hour

In [10]:
addition = duration + pay_per_hour
difference = duration - pay_per_hour
product = duration * pay_per_hour
division = duration / pay_per_hour
print(f'my total wage is {product}')

my total wage is 5000.0

In [13]:
#slicing strings
b = 'ademide'
print(b[:3])
print(b[:-1])

ade
ademid

In [15]:
import random
random.randrange(2,6)

3

In [44]:
c = 'Joseph ME'
c[(random.randrange(0,4)):(random.randrange(0,4))]

''

In [45]:
(random.randrange(0,4))

3

In [46]:
c.upper()

'JOSEPH ME'

In [47]:
c.lower()

'joseph me'

In [48]:
 c.replace("J", "m")

'moseph ME'

In [49]:
c.split("  ")

['Joseph ME']

In [54]:
AGE=[ 12, 11 , 10 , 5 , 55, 70,6, 40,7,80]

In [55]:
AGE

[12, 11, 10, 5, 55, 70, 6, 40, 7, 80]

In [67]:
#SUM_OF_AGE= [12+ 11+ 10+ 5+ 55+ 70+ 6+ 40+ 7+ 80]
#SUM_OF_AGE
TOTAL_AGE= 0
for i in AGE :
    TOTAL_AGE += i

In [68]:
 TOTAL_AGE

296

In [65]:
print(TOTAL_AGE)

80

In [74]:
#PRODUCT_OF_AGE=[12* 11* 10* 5* 55* 70* 6* 40* 7* 80]
#PRODUCT_OF_AGE
TOTAL_AGE= 1
for i in AGE :
    TOTAL_AGE *= i

In [75]:
TOTAL_AGE

3415104000000

In [76]:
LUCKY_NUMBER = random.randrange(0,5000)

2680

In [86]:
LUCKY_NUMBER = random.randrange(0,5000)
def megalotto():
    PLAYER_NUMBER = int(input('kindly input your lotto number:'))
    if PLAYER_NUMBER == LUCKY_NUMBER:
       print ('You win')
    else:
         print ('try again')

In [87]:
megalotto()

kindly input your lotto number: 1900

try again

In [9]:
items=[("book",20), ("pencil",10), ("Pen",5)]

In [10]:
length_of_list =len(items)

In [11]:
length_of_list

3

In [12]:
for item, price in items:
    print(f"{item} : ${price}")

book : $20
pencil : $10
Pen : $5

In [13]:
import pandas as pd

In [14]:
mydata= pd.DataFrame(items, columns = ('items', 'price'))

In [15]:
mydata

    items  price
0    book     20
1  pencil     10
2     Pen      5

In [16]:
items

[('book', 20), ('pencil', 10), ('Pen', 5)]

In [17]:
mytuple= ('apple','banana','cherry')
mylist = list(mytuple)
mylist[1] = ('kiwi')

In [18]:
mylist

['apple', 'kiwi', 'cherry']